*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: large;
    border-radius: 10px;
}

.active .collapsible:hover{
    background-color: #ccc;
    cursor:crosshair;
}

.content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
    font-size: large;
    border-radius: 10px;
}

.senator_container{
    opacity: 1;
    padding: 3px;
}

.senator_container:hover{
    opacity: 1;
    padding: 3px;
    scale: 1.01;
}

navbar ul{
    margin-top: 0;
    margin-left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 10%;
}
navbar li{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
navbar li:hover{
    list-style-type: none;
    border: 1px groove #ccc;
    background-color: #333;
    width: 100%;
    scale: 1.02;
}

.leader{
    background-color: aliceblue ;
    opacity: 0.9;
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: url('./public/th-3797672280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

button{
    padding: 0.5%;
    background-color: lightgreen;
    color: white;
    font-size: large;
    border: #333 1px solid;
    border-radius: 10px;
    shape-outside: margin-box;
}

select{
    font-size: large;
    background-color: white;
    border-radius: 2px;
}

label{
    font-size: large;
}